{{!-- --}}
{{!-- --}}


<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header bg-primary">
                    <h1 class="text-center">Add Event</h1>
                </div>
                <div class="card-body">
                    <form action="/event/add" method="post">
                        {{!-- select --}}
                        <div class="form-group">
                            <select class="custom-select" name="noteid">
                                {{!-- <option selected value="public">Public</option>
                                <option value="private">Private</option> --}}
                                {{#each note }}
                                <option value="{{_id}}">{{title}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea name="description" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="date_init">Date start </label>
                            <input type="datetime-local" name="date_init" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="date_end">Date end</label>
                            <input type="datetime-local" name="date_end" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>